body {
  background: url("../img/BJTable.PNG");
  background-size: 100%;
  backdrop-filter: brightness(0.5);
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: 'quicksandregular';
  color: white;
}

/*Button Boxes*/
#four-button-box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  image-rendering: pixelated;
  position: relative;
  width: 720px;
  height: 380px;
  background: url('../img/ui.png') no-repeat 0 -240px;
  background-size: 720px 1000px;
}

#two-button-box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  image-rendering: pixelated;
  position: relative;
  width: 720px;
  height: 230px;
  background: url('../img/ui.png') no-repeat 0 0;
  background-size: 720px 1000px;
}

#ins-button-box {
  display: flex;
  flex-wrap: wrap;
  align-content: end;
  justify-content: center;
  image-rendering: pixelated;
  position: relative;
  width: 720px;
  height: 370px;
  background: url('../img/ui.png') no-repeat 0 -630px;
  background-size: 720px 1000px;}

/*Button Positioning*/
#bet_amount{
  image-rendering: pixelated;
  margin: 10px;
  width: 300px;
  height: 130px;
  background: url('../img/buttons.png') no-repeat;
  background-size: 920px 1250px;
}

#deal{
  image-rendering: pixelated;
  margin: 10px;
  width: 300px;
  height: 130px;
  background: url('../img/buttons.png') no-repeat -310px 0px;
  background-size: 920px 1250px;
}

#bet_increase{
  image-rendering: pixelated;
  margin: 10px;
  width: 300px;
  height: 130px;
  background: url('../img/buttons.png') no-repeat -310px -140px;
  background-size: 920px 1250px;
} 

#bet_decrease{
  image-rendering: pixelated;
  margin: 10px;
  width: 300px;
  height: 130px;
  background: url('../img/buttons.png') no-repeat -310px -280px;
  background-size: 920px 1250px;
} 

#hit{
  image-rendering: pixelated;
  margin: 10px;
  width: 300px;
  height: 130px;
  background: url('../img/buttons.png') no-repeat;
  background-size: 920px 1250px;
}

#stand{
  image-rendering: pixelated;
  margin: 10px;
  width: 300px;
  height: 130px;
  background: url('../img/buttons.png') no-repeat;
  background-size: 920px 1250px;
}

#ins-yes{
  image-rendering: pixelated;
  margin: 10px 10px 50px 10px;
  width: 300px;
  height: 130px;
  background: url('../img/buttons.png') no-repeat;
  background-size: 920px 1250px;
}

#ins-no{
  image-rendering: pixelated;
  margin: 10px 10px 50px 10px;
  width: 300px;
  height: 130px;
  background: url('../img/buttons.png') no-repeat;
  background-size: 920px 1250px;
}

#split{
  image-rendering: pixelated;
  margin: 10px;
  width: 300px;
  height: 130px;
  background: url('../img/buttons.png') no-repeat;
  background-size: 920px 1250px;
}

#double{
  image-rendering: pixelated;
  margin: 10px;
  width: 300px;
  height: 130px;
  background: url('../img/buttons.png') no-repeat;
  background-size: 920px 1250px;
}

div p {
  font-size: 20px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dealerHand {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(calc(-170px/2)); /*transform half the width of the arrow graphic*/
}

#playerHand {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(calc(-170px/2)); /*transform half the width of the arrow graphic*/
}

.splitHand{
  display: block;
}

#handResult {
  font-family: 'arial';
  font-size: 5vh;
  letter-spacing: 3px;
  color: red;
  font-weight: 900;
}

.endGame{
  justify-content: center;
}

#modal1 p {
  text-align: left;
}

nav .brand-logo {
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-size: 1.5rem;
  padding-left: 15px;
}

.removable {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 85%;
}



#toast-container {
  display: flex;
}

.total{
  font-family: 'quicksanddash';
}

/*Sprite Positioning*/
.no-arrow {
  width: 170px;
  height: 130px;
  background: url('../img/score.png') no-repeat 0 0;
  margin: 5px;
  image-rendering: pixelated;
  background-size: 1790px 410px;
}

.arrow {
  width: 170px;
  height: 130px;
  background: url('../img/score.png') no-repeat -180px 0;
  margin: 5px;
  image-rendering: pixelated;
  background-size: 1790px 410px;
}

.hand-total, .dealerScore{
  width: 170px;
  height: 130px;
  background: url('../img/score.png') no-repeat;
  margin: 5px;
  display: inline-block;
  image-rendering: pixelated;
  background-size: 1790px 410px;
}

.card-back {
  width: 110px;
  height: 90px;
  background: url('../img/cards.png') no-repeat -1560px 0;
  margin: 5px;
  display: inline-block;
  image-rendering: pixelated;
  background-size: 1670px 390px;
}

.playingCard {
  width: 110px;
  height: 90px;
  background: url('../img/cards.png') no-repeat;
  margin: 5px;
  display: inline-block; 
  image-rendering: pixelated;
  background-size: 1670px 390px;
}


/* Generated by Font Squirrel (https://www.fontsquirrel.com) on June 2, 2016 */

@font-face {
    font-family: 'quicksanddash';
    src: url('../fonts/quicksand/quicksand_dash-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand_dash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/quicksand/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbold_italic';
    src: url('../fonts/quicksand/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksanditalic';
    src: url('../fonts/quicksand/quicksand-italic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight_italic';
    src: url('../fonts/quicksand/quicksand-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
