#blackjack-buttons, #state-buttons, .total{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

body {
  background: url("../img/BJTable.PNG");
  background-size: 100%;
  height: 100%;
  width: 100%;
  position: fixed;
  font-family: 'quicksandregular';
}

.btn-large {
  text-transform: capitalize;
  font-size: x-large;
}

/*Button Boxes*/
#four-button-box {
  width: 575px;
  height: 304px;
  background: url(../img/ButtonBackground.png) no-repeat 0 -311px;
  image-rendering: pixelated;
  background-size: cover;
}

#two-button-box {
  width: 575px;
  height: 185px;
  background: url(../img/ButtonBackground.png) no-repeat;
  image-rendering: pixelated;
  background-size: cover;
}

#ins-button-box {
  width: 575px;
  height: 304px;
  background: url(../img/ButtonBackground.png) no-repeat 0 -622px;
  image-rendering: pixelated;
  background-size: cover;
}

/*Button Positioning*/
#bet_increase{
  background: url(../img/ButtonSpriteSheet.png) no-repeat -248px -106px;
  width: 240px;
  height: 104px;
  position: absolute;
  top: 356px;
  left: 40px;
  border-width: 0px;
  image-rendering: pixelated;
  background-size: 736px 961px;
} 

#bet_decrease{
  background: url(../img/ButtonSpriteSheet.png) no-repeat -248px -212px;
  width: 240px;
  height: 104px;
  position: absolute;
  top: 356px;
  left: 296px;
  border-width: 0px;
  image-rendering: pixelated;
  background-size: 736px 961px;
} 

#deal{
  background: url(../img/ButtonSpriteSheet.png) no-repeat -248px 0px;
  width: 240px;
  height: 104px;
  position: absolute;
  top: 236px;
  left: 296px;
  border-width: 0px;
  image-rendering: pixelated;
  background-size: 736px 961px;
}

#bet_amount{
  background: url(../img/ButtonSpriteSheet.png) no-repeat -496px 0px;
  width: 240px;
  height: 104px;
  position: absolute;
  top: 237px;
  left: 41px;
  image-rendering: pixelated;
  background-size: 736px 961px;
}

#hit{
  background: url(../img/ButtonSpriteSheet.png) no-repeat -248px -318px;
  width: 240px;
  height: 104px;
  position: absolute;
  top: 236px;
  left: 296px;
  border-width: 0px;
  image-rendering: pixelated;
  background-size: 736px 961px;
}

#stand{
  background: url(../img/ButtonSpriteSheet.png) no-repeat -248px -424px;
  width: 240px;
  height: 104px;
  position: absolute;
  top: 236px;
  left: 296px;
  border-width: 0px;
  image-rendering: pixelated;
  background-size: 736px 961px;
}

#ins-yes{
  background: url(../img/ButtonSpriteSheet.png) no-repeat -248px -530px;
  width: 240px;
  height: 104px;
  position: absolute;
  top: 236px;
  left: 296px;
  border-width: 0px;
  image-rendering: pixelated;
  background-size: 736px 961px;
}

#ins-no{
  background: url(../img/ButtonSpriteSheet.png) no-repeat -248px -636px;
  width: 240px;
  height: 104px;
  position: absolute;
  top: 236px;
  left: 296px;
  border-width: 0px;
  image-rendering: pixelated;
  background-size: 736px 961px;
}

#split{
  background: url(../img/ButtonSpriteSheet.png) no-repeat -248px -742px;
  width: 240px;
  height: 104px;
  position: absolute;
  top: 236px;
  left: 296px;
  border-width: 0px;
  image-rendering: pixelated;
  background-size: 736px 961px;
}

#double{
  background: url(../img/ButtonSpriteSheet.png) no-repeat -248px -848px;
  width: 240px;
  height: 104px;
  position: absolute;
  top: 236px;
  left: 296px;
  border-width: 0px;
  image-rendering: pixelated;
  background-size: 736px 961px;
}

/*Card Positioning*/
.card-back {
  width: 110px;
  height: 90px;
  background: url('../img/cards.png') no-repeat -1560px 0;
  padding: 2px;
  display: inline-block;
  image-rendering: pixelated;
  background-size: 1670px 390px;
}


.playingCard {
  width: 110px;
  height: 90px;
  background: url('../img/cards.png') no-repeat;
  padding: 2px;
  display: inline-block; 
  image-rendering: pixelated;
  background-size: 1670px 390px;
}

div p {
  font-size: 20px;
}

#dealerHand, #playerHand {
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  justify-content: center;
}

#handResult {
  font-family: 'arial';
  font-size: 5vh;
  letter-spacing: 3px;
  color: red;
  font-weight: 900;
}

.endGame{
  justify-content: center;
}

#modal1 p {
  text-align: left;
}

nav .brand-logo {
  text-transform: uppercase;
  letter-spacing: 4.5px;
  font-size: 1.5rem;
  padding-left: 15px;
}

.removable {
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 85%;
}



#toast-container {
  display: flex;
}

.total{
  font-family: 'quicksanddash';
}

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on June 2, 2016 */

@font-face {
    font-family: 'quicksanddash';
    src: url('../fonts/quicksand/quicksand_dash-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand_dash-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/quicksand/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandbold_italic';
    src: url('../fonts/quicksand/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksanditalic';
    src: url('../fonts/quicksand/quicksand-italic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandlight_italic';
    src: url('../fonts/quicksand/quicksand-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand/quicksand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
